'.editor':
  'ctrl-space': 'gamboge:show-suggestions'
  'ctrl-shift-space': 'gamboge:show-ghost-text'

'.gamboge input.hidden-input':
  'tab': 'gamboge:complete'
  'shift-tab': 'gamboge:complete-all'
  'down': 'gamboge:select-next'
  'up': 'gamboge:select-previous'
