# NOTE: By default, these conflict with both Autocomplete AND Autocomplete+!
'.editor':
  'ctrl-space': 'gamboge:show-suggestions'
  'ctrl-shift-space': 'gamboge:show-ghost-text'

'.editor.gamboge':
  'tab': 'gamboge:complete'
  'shift-tab': 'gamboge:complete-all'
  'down': 'gamboge:next-prediction'
  'up': 'gamboge:previous-prediction'
